In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('pima-indians-diabetes.csv',  names=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'])

In [3]:
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [4]:
data.isna().sum()

preg     0
plas     0
pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [5]:
data = data.iloc[:, :-1]

In [6]:
data

     preg  plas  pres  skin  test  mass   pedi  age
0       6   148    72    35     0  33.6  0.627   50
1       1    85    66    29     0  26.6  0.351   31
2       8   183    64     0     0  23.3  0.672   32
3       1    89    66    23    94  28.1  0.167   21
4       0   137    40    35   168  43.1  2.288   33
..    ...   ...   ...   ...   ...   ...    ...  ...
763    10   101    76    48   180  32.9  0.171   63
764     2   122    70    27     0  36.8  0.340   27
765     5   121    72    23   112  26.2  0.245   30
766     1   126    60     0     0  30.1  0.349   47
767     1    93    70    31     0  30.4  0.315   23

[768 rows x 8 columns]

In [7]:
data[data['skin'] == 0]

     preg  plas  pres  skin  test  mass   pedi  age
2       8   183    64     0     0  23.3  0.672   32
5       5   116    74     0     0  25.6  0.201   30
7      10   115     0     0     0  35.3  0.134   29
9       8   125    96     0     0   0.0  0.232   54
10      4   110    92     0     0  37.6  0.191   30
..    ...   ...   ...   ...   ...   ...    ...  ...
757     0   123    72     0     0  36.3  0.258   52
758     1   106    76     0     0  37.5  0.197   26
759     6   190    92     0     0  35.5  0.278   66
762     9    89    62     0     0  22.5  0.142   33
766     1   126    60     0     0  30.1  0.349   47

[227 rows x 8 columns]

In [9]:
data = data.replace({'skin': 0, 'test': 0}, np.nan)

In [10]:
from sklearn.impute import KNNImputer

In [11]:
imputer = KNNImputer(n_neighbors=3)
data = imputer.fit_transform(data)

In [12]:
data

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [13]:
import sys
np.set_printoptions(threshold=sys.maxsize)

In [15]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler() 
data = scaler.fit_transform(data)